<div class="mb-4 text-center project">
<h2>Why is MVC so important?</h2>
<p>Created by Sal on 3/31/2023</p>
<p>MVC allows developers to maintain a true separation of concerns, devising their code between the Model layer for data, the Vew layer for design, and the Controller layer for application login.</p>
</div>


{{#each projects as |project| }}
<div class="mb-4 text-center project">
  <div>
    <h2>
      <a href="/project/{{project.id}}">{{project.name}}</a>
    </h2>
    <p>Created by {{project.user.name}} on {{format_date project.date_created}}</p>
  </div>
  <div>
    <p>
      {{project.description}}  
    </p>
  </div>
</div>
{{/each}}


