<div class="text-center">
  <h2>{{name}}</h2>
  <p>{{description}}</p>
  <p>Created by {{user.name}} on {{format_date date_created}}</p>
  <p>
    <a href="/project/{{id}}/edit" class="btn btn-outline-dark profile-button m-2">Update!</a>
  </p>
</div>
